name: Builds Docker image and push to ACR

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      build_context:
        required: false
        type: string
        default: .
    secrets:
      GH_APP_ID:
        required: true
      GH_APP_INSTALLATION_ID:
        required: true
      GH_APP_PRIVATE_KEY:
        required: true
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_CLIENT_ID:
        required: true
      AZURE_CONTAINER_REGISTRY:
        required: true

jobs:
  acr-build:
    runs-on:
      group: ArcCI
    steps:
      - name: GitHub login
        id: auth
        uses: TimoWilhelm/action-github-app-auth@v1.0.0
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          installation-id: ${{ secrets.GH_APP_INSTALLATION_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          set-git-credentials: true

      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ steps.auth.outputs.access-token }}
          submodules: recursive

      # for pull base images
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Azure login
        uses: azure/login@v2
        with:
          auth-type: IDENTITY
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set build variables
        id: build_vars
        run: |
          az acr login --name ${{ secrets.AZURE_CONTAINER_REGISTRY }}

          TRIVY_IGNOREFILE=""
          if [ -f ".trivyignore" ]; then
            TRIVY_IGNOREFILE=".trivyignore"
          fi
          echo "trivy_ignorefile=$TRIVY_IGNOREFILE" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ inputs.image_name }}

      - name: Build Docker image
        uses: docker/build-push-action@v6
        env:
          DOCKER_BUILD_RECORD_UPLOAD: false
          DOCKER_BUILD_RECORD_RETENTION_DAYS: 3
        with:
          context: ${{ inputs.build_context }}
          load: true
          secrets: |
            GIT_AUTH_TOKEN=${{ steps.auth.outputs.access-token }}
          tags: ${{ steps.meta.outputs.tags }}

      - name: Scan for vulnerabilities
        uses: aquasecurity/trivy-action@master
        env:
          TRIVY_SKIP_VERSION_CHECK: "true"
          TRIVY_DISABLE_VEX_NOTICE: "true"
        with:
          image-ref: ${{ steps.meta.outputs.tags }}
          format: table
          exit-code: "1"
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          timeout: 15m
          trivyignores: ${{ steps.build_vars.outputs.trivy_ignorefile }}

      - name: Push Docker image
        run: |
          docker push ${{ steps.meta.outputs.tags }}
